* {
  width: 100%;
  border: solid 1px red;
}
.main_container {
  width: 50%;
  margin: auto;
}
img {
  width: 50%;
}
.primary_container {
  display: flex;
}
.info_container {
  margin-left: 50px;
}
form {
  width: 80%;
  display: flex;

  margin-bottom: 50px;
}
button {
  width: 50%;
  font-size: 1rem;
}
h1 {
  font-size: 4rem;
}
.info_container,
h3 h5 {
  font-size: 2rem;
}
input {
  padding: 8px;
}
/* .follower {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
} */
.follower_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.follower_container,
.img {
}
